// Sidebar variables
$sidebar-width: 77px;
$sidebar-background-color: #252B33;

// Background colors
$background-color: #1A1E23;
$light-background: #f4f4f4;

// Colors
$primary-color: #28a745;
$hover-color: #218838;
$line-color: #189541;

// Other variables
$top-bar-height: 60px;
