@import '../styles/variables';

.app-container {
  display: flex;
  // Main content styles
  .main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .top-bar {
      height: $top-bar-height;
      width: 100%;
      background-color: $sidebar-background-color;
    }

    .image-container {
      padding: 0.5rem ;
      height: 420px;
      width: 100%;
      margin: 0 auto;
      overflow: hidden;

      .full-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .navigation {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    // Main content container, takes up remaining space
    .main-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}
