// Variables for reusability
$sidebar-width: 77px;
$background-color: #1A1E23;
$sidebar-background-color: #252B33;

$light-background: #f4f4f4;
$primary-color: #28a745;
$hover-color: #218838;
$grid-gap: 1rem;
$grid-column-count: 4;

.app-container {
  display: flex;
  // Main content styles
  .main-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .top-bar {
      height: 60px;
      width: 100%;
      background-color: $sidebar-background-color;
    }

    .image-container {
      padding: 0.5rem ;
      height: 420px;
      width: 100%;
      margin: 0 auto;
      overflow: hidden;

      .full-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    // Top navigation styles
    //app-sidebar {
    //  width: $sidebar-width;
    //  background-color: $sidebar-background-color;
    //  color: white;
    //  padding: 1rem;
    //  display: flex;
    //  height: 100vh;
    //  flex-direction: column;
    //}

    .navigation {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    // Main content container, takes up remaining space
    .main-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}
