.card-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Seven columns of equal width */
  grid-gap: 15px;
  box-sizing: border-box;
}

app-slot-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
}

.first-card {
  grid-column: span 2; /* The first card spans two columns */
  grid-row: span 2; /* The first card spans two rows */
  height: 100%;
}

